:root {
    --max-width: 1440px;
    --sec-max-width: 1240px;
    --sec-width: 86%;
    --primary-color: #100f0f;
    --secondary-color: #525253;
    --primary-white: #f6f6f6;
    --white: #ffffff;
    --white-03: #ffffff03;
    --shadow-1: 0 2px 5px #0000001a;
}

@font-face {
    font-family: Suisseintl Book;
    src: url("assets/fonts/SuisseIntl-Book.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Suisseintl Semi Bold;
    src: url("assets/fonts/SuisseIntl-SemiBold.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Suisseintl Normal;
    src: url("assets/fonts/SuisseIntl-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

body {
    line-height: 1.2;
    font-family: Suisseintl Normal, Arial, sans-serif;
    background-color: var(--white);
    font-size: 14px;
    font-weight: 400;
}

.div-block {
    grid-column-gap: 43px;
    grid-row-gap: 43px;
    pointer-events: auto;
    -webkit-text-fill-color: inherit;
    background-color: var(--white-03);
    background-clip: border-box;
    flex-flow: column;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    max-width: var(--max-width);
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    padding: 100px clamp(2px, 7%, 100px) 50px;
    display: flex;
    position: relative;
    overflow: clip;
}

.div-block.fixed {
    z-index: -1;
    opacity: .05;
    max-width: none;
    position: fixed;
    top: 0;
}

.div-block-2 {
    z-index: 1;
    text-align: right;
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-end;
    width: var(--sec-width);
    max-width: var(--sec-max-width);
    margin-bottom: -100px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 42px;
    padding-bottom: 0;
    display: flex;
    position: relative;
}

.dropdown {
    height: 100%;
    margin-left: 0;
    font-size: 16px;
    line-height: 1;
    text-align: left;
    z-index: 900;
    display: inline-block;
    position: relative;
}

.dropdown-toggle {
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    padding-right: 40px;
    display: inline-flex;
    align-items: center;
    vertical-align: top;
    text-align: left;
    white-space: nowrap;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    gap: 8px;
    text-decoration: none;
    position: relative;
}

.dropdown-list {
    color: var(--primary-color);
    background-color: var(--white);
    border-radius: 12px;
    box-shadow: var(--shadow-1);
    min-width: 100%;
    width: 120px;
    display: none;
    position: absolute;
}

.dropdown-link {
    padding: 12px 20px;
    display: block;
    width: 100%;
}

.button {
    color: var(--primary-color);
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid var(--primary-color);
    border-radius: 30px;
    flex: none;
    justify-content: center;
    align-items: center;
    padding: 20px 24px;
    font-family: Suisseintl Semi Bold, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 100%;
    display: block;
}

.div-block-30 {
    grid-column-gap: 2vw;
    grid-row-gap: 2vw;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 990px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: relative;
}

.image-13 {
    width: 84%;
    margin-right: 41px;
}

.div-block-31 {
    justify-content: flex-end;
    align-items: center;
    display: flex;
}

.div-block-31.fixed {
    opacity: 0;
}

.text-block {
    color: var(--primary-color);
    text-align: left;
    width: 550px;
    max-width: 50%;
    margin-top: 24px;
    font-family: Suisseintl Book, Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
}

em {
    font-style: italic;
}

@media screen and (max-width: 991px) {
    .div-block {
        grid-column-gap: 30px;
        grid-row-gap: 30px;
        min-height: 0;
        padding: 59px 5%;
    }

    .div-block.fixed {
        margin-top: 88px;
    }

    .div-block-2 {
        width: 90%;
        margin-bottom: 0;
        padding-top: 36px;
    }

    .dropdown-toggle {
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .button {
        flex: none;
        padding: 18px 22px;
        font-size: 14px;
        line-height: 100%;
        display: flex
    }

    .text-block {
        font-size: 20px;
    }
}

@media screen and (max-width: 767px) {
    .div-block {
        grid-column-gap: 70px;
        grid-row-gap: 70px;
        justify-content: center;
        align-items: stretch;
        padding: 120px 2.5% 0;
    }

    .div-block.fixed {
        margin-top: 56px;
    }

    .div-block-2 {
        width: 95%;
        padding-top: 16px;
        padding-bottom: 0;
    }

    .dropdown-toggle {
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .dropdown-list {
        border-radius: 8px;
        width: 60px;
    }

    .button {
        flex: none;
        padding: 12px;
        display: flex;
    }

    .div-block-30 {
        grid-column-gap: 3vw;
        grid-row-gap: 3vw;
        width: 100%;
    }

    .text-block {
        text-align: center;
        width: auto;
        max-width: 100%;
        font-size: 20px;
    }
}
