:root {
    --max-width: 1440px;
    --sec-max-width: 1240px;
    --sec-width: 86%;
    --primary-color: #100f0f;
    --primary-color-77: #100f0f4d;
    --secondary-color: #525253;
    --primary-white: #f6f6f6;
    --white: #ffffff;
    --white-03: #ffffff03;
    --shadow-1: 0 2px 5px #0000001a;
    --outQuart: cubic-bezier(0.165, 0.84, 0.44, 1);
}

@font-face {
    font-family: Suisseintl Book;
    src: url("assets/fonts/SuisseIntl-Book.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Suisseintl Semi Bold;
    src: url("assets/fonts/SuisseIntl-SemiBold.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Suisseintl Normal;
    src: url("assets/fonts/SuisseIntl-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

body {
    line-height: 1.2;
    font-family: Suisseintl Normal, Arial, sans-serif;
    background-color: var(--white);
    font-size: 14px;
    font-weight: 400;
}

.div-block {
    grid-column-gap: 43px;
    grid-row-gap: 43px;
    pointer-events: auto;
    -webkit-text-fill-color: inherit;
    background-color: var(--white-03);
    background-clip: border-box;
    flex-flow: column;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    max-width: var(--max-width);
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    padding: 100px clamp(2px, 7%, 100px) 50px;
    display: flex;
    position: relative;
    overflow: clip;
}

.div-block.fixed {
    z-index: -1;
    opacity: .05;
    max-width: none;
    position: fixed;
    top: 0;
}

.div-block-2 {
    z-index: 1;
    text-align: right;
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-end;
    width: var(--sec-width);
    max-width: var(--sec-max-width);
    margin-bottom: -100px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 42px;
    padding-bottom: 0;
    display: flex;
    position: relative;
}

.dropdown {
    height: 100%;
    margin-left: 0;
    font-size: 16px;
    line-height: 1;
    text-align: left;
    z-index: 900;
    display: inline-block;
    position: relative;
}

.dropdown-toggle {
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    padding-right: 40px;
    display: inline-flex;
    align-items: center;
    vertical-align: top;
    text-align: left;
    white-space: nowrap;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    gap: 8px;
    text-decoration: none;
    position: relative;
}

.dropdown-list {
    color: var(--primary-color);
    background-color: var(--white);
    border-radius: 12px;
    box-shadow: var(--shadow-1);
    min-width: 100%;
    width: 120px;
    display: none;
    position: absolute;
}

.dropdown-link {
    padding: 12px 20px;
    display: block;
    width: 100%;
}

.button {
    color: var(--primary-color);
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid var(--primary-color);
    border-radius: 30px;
    flex: none;
    justify-content: center;
    align-items: center;
    padding: 20px 24px;
    font-family: Suisseintl Semi Bold, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 100%;
    display: block;
}

.div-block-30 {
    grid-column-gap: 2vw;
    grid-row-gap: 2vw;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 990px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: relative;
}

.image-13 {
    width: 84%;
    margin-right: 41px;
}

.image-10,
.image-13 {
    transition: transform .1s;
    transform: none;
}

.div-block-31 {
    justify-content: flex-end;
    align-items: center;
    display: flex;
}

.div-block-31.fixed {
    opacity: 0;
}

.text-block {
    color: var(--primary-color);
    text-align: left;
    width: 550px;
    max-width: 50%;
    margin-top: 24px;
    font-family: Suisseintl Book, Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
}

em {
    font-style: italic;
}

.flex-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: var(--max-width);
    margin-left: auto;
    margin-right: auto;
    overflow: clip;
}

.div-block-4 {
    grid-column-gap: 57px;
    grid-row-gap: 57px;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: var(--sec-width);
    max-width: var(--max-width);
    margin-top: 135px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.div-block-3 {
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    display: flex;
}

.image-11 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: 50% 100%;
    height: 100%;
}

.text-block-2 {
    color: var(--primary-color-77);
    text-align: left;
    letter-spacing: -.48px;
    text-transform: uppercase;
    flex: none;
    justify-content: center;
    align-items: center;
    font-family: Suisseintl Semi Bold, Arial, sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 18px;
    display: flex;
    position: static;
}

.div-block-29 {
    grid-column-gap: 295px;
    grid-row-gap: 193px;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    display: flex;
}

.jumbo-text-scroll {
    color: var(--primary-color);
    width: 110vw;
    margin-left: -9%;
    font-size: 96px;
    overflow: clip;
}

.jumbo-text-wrapper {
    white-space: nowrap;
    word-break: normal;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    display: flex;
}

.jumbo-text-wrapper.opposite {
    display: none;
}

.jumbo-row {
    flex-flow: row;
    flex: none;
    justify-content: flex-start;
    align-items: center;
    padding-right: 48px;
    display: flex;
    animation: loop-left 60s linear infinite;
}

.jumbo-row.opposite {
    animation: loop-right 60s linear infinite;
}

.jumbo-text {
    aspect-ratio: auto;
    box-shadow: none;
    color: var(--primary-color);
    letter-spacing: -1.92px;
    text-transform: uppercase;
    flex: none;
    margin-bottom: 0;
    font-family: Suisseintl Semi Bold, Arial, sans-serif;
    font-size: 130px;
    font-weight: 600;
    line-height: 120%;
    transition: opacity .2s;
}

.text-block-5 {
    color: var(--primary-color);
    width: 95%;
    font-family: Suisseintl Book, Arial, sans-serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 100%;
}

.text-block-5.onmobile {
    display: none;
}

.div-block-6 {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    background-color: var(--primary-color);
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 20px 24px;
    display: flex;
}

.text-block-7 {
    color: #f6f6f6;
    font-size: clamp(2px, 3.4vw, 48px);
    line-height: 100%;
}

.image-7 {
    aspect-ratio: 1;
    width: 58px;
    margin-left: auto;
    transform: rotate(-45deg);
}

/* Tablet */
@media screen and (max-width: 991px) {
    .div-block {
        grid-column-gap: 30px;
        grid-row-gap: 30px;
        min-height: 0;
        padding: 59px 5%;
    }

    .div-block.fixed {
        margin-top: 88px;
    }

    .div-block-2 {
        width: 90%;
        margin-bottom: 0;
        padding-top: 36px;
    }

    .dropdown-toggle {
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .button {
        flex: none;
        padding: 18px 22px;
        font-size: 14px;
        line-height: 100%;
        display: flex
    }

    .text-block {
        font-size: 20px;
    }

    .div-block-4 {
        grid-column-gap: 38px;
        grid-row-gap: 38px;
        width: 90%;
        margin-top: 130px;
    }

    .div-block-3 {
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }

    .text-block-2 {
        font-size: 20px;
    }

    .div-block-29 {
        grid-column-gap: 122px;
        grid-row-gap: 182px;
    }

    .jumbo-text {
        font-size: 100px;
    }

    .text-block-5 {
        width: 100%;
        font-size: 28px;
    }

    .div-block-6 {
        padding: 11px 13px;
    }

    .text-block-7 {
        font-size: 28px;
    }

    .image-7 {
        width: 33px;
    }
}

/* Mobile */
@media screen and (max-width: 767px) {
    .div-block {
        grid-column-gap: 70px;
        grid-row-gap: 70px;
        justify-content: center;
        align-items: stretch;
        padding: 120px 2.5% 0;
    }

    .div-block.fixed {
        margin-top: 56px;
    }

    .div-block-2 {
        width: 95%;
        padding-top: 16px;
        padding-bottom: 0;
    }

    .dropdown-toggle {
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .dropdown-list {
        border-radius: 8px;
        width: 60px;
    }

    .button {
        flex: none;
        padding: 12px;
        display: flex;
    }

    .div-block-30 {
        grid-column-gap: 3vw;
        grid-row-gap: 3vw;
        width: 100%;
    }

    .text-block {
        text-align: center;
        width: auto;
        max-width: 100%;
        font-size: 20px;
    }

    .div-block-4 {
        grid-column-gap: 50px;
        grid-row-gap: 50px;
        width: 100%;
        margin-top: 127px;
    }

    .div-block-3 {
        grid-column-gap: 8px;
        grid-row-gap: 8px;
        margin-left: 2.5%;
    }

    .text-block-2 {
        letter-spacing: 0;
    }

    .div-block-29 {
        grid-column-gap: 160px;
        grid-row-gap: 220px;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }

    .jumbo-text {
        font-size: 96px;
        line-height: 100%;
    }

    .text-block-5 {
        font-size: 20px;
        display: none;
    }

    .text-block-5.onmobile {
        line-height: 120%;
        display: block;
    }

    .div-block-6.onmobile {
        display: flex;
    }

    .div-block-6 {
        width: 100vw;
        min-width: 100vw;
        margin-left: auto;
        margin-right: 0;
        padding: 24px 12px;
    }

    .text-block-7 {
        font-size: 20px;
        line-height: 120%;
    }

    .image-7 {
        width: 38px;
    }
}

/* Mobile Small */
@media screen and (max-width: 479px) {
    .image-11 {
        margin-top: -15px;
    }

    .image-13 {
        margin-right: 11px;
    }

    .text-block {
        box-sizing: border-box;
        text-align: center;
        object-fit: fill;
        flex: 0 auto;
        padding-left: 12px;
        padding-right: 12px;
        font-size: 18px;
        text-decoration: none;
        display: block;
        overflow: visible;
    }

    .text-block-2 {
        margin-top: -15px;
    }

    .jumbo-text-wrapper {
        align-items: center;
    }

    .jumbo-text {
        box-sizing: border-box;
        box-shadow: none;
        outline-offset: 0px;
        outline: 0 #100f0f;
        margin-top: 9px;
        margin-bottom: 0;
        font-size: 60px;
    }

    .jumbo-text-wrapper.opposite {
        justify-content: flex-end;
        align-items: center;
        display: flex;
    }
}

/* Animations */
@keyframes loop-left {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}

@keyframes loop-right {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(100%);
    }
}

.slide-in-right {
    opacity: 0;
    transform: translateX(100px);
    will-change: opacity, transform;
    transition: opacity 1000ms var(--outQuart),
        transform 1000ms var(--outQuart);
}

.slide-in-right.is-visible {
    opacity: 1;
    transform: translateX(0);
}

.slide-in-left {
    opacity: 0;
    transform: translateX(-100px);
    will-change: opacity, transform;
    transition: opacity 1000ms var(--outQuart),
        transform 1000ms var(--outQuart);
}

.slide-in-left.is-visible {
    opacity: 1;
    transform: translateX(0);
}

.slide-in-down {
    opacity: 0;
    transform: translateY(100px);
    will-change: opacity, transform;
    transition: opacity 1000ms var(--outQuart),
        transform 1000ms var(--outQuart);
}

.slide-in-down.is-visible {
    opacity: 1;
    transform: translateY(0);
}

.grow-in {
    opacity: 0;
    transform: scale(0.75);
    will-change: opacity, transform;
    transition: opacity 1000ms var(--outQuart),
        transform 1000ms var(--outQuart);
}

.grow-in.is-visible {
    opacity: 1;
    transform: scale(1);
}

.grow-big-in {
    opacity: 0;
    transform: scale(0);
    will-change: opacity, transform;
    transition: opacity 1000ms var(--outQuart),
        transform 1000ms var(--outQuart);
}

.grow-big-in.is-visible {
    opacity: 1;
    transform: scale(1);
}

.fade-in {
    opacity: 0;
    will-change: opacity;
    transition: opacity 1000ms var(--outQuart);
}

.fade-in.is-visible {
    opacity: 1;
}